<h1>New rating</h1>

<%= form_for(@rating) do |f| %>
  <div class="mb-2">
    <%= f.label :beer_id, "Beer" %>
    <%= f.select :beer_id, options_from_collection_for_select(@beers, :id, :to_s) %>
  </div>

  <div class="mb-2">
    <%= f.label :score, "Score" %>
    <%= f.number_field :score %>
  </div>
  <%= f.submit "Create rating", class: "btn" %>
<% end %>
