<p style="color: green"><%= notice %></p>

<h1><%= @brewery.name %>, <i>established in <%= @brewery.year %></i></h1>

<dl>
  <dt>Number of ratings:</dt>
    <dd>Brewery has <%= pluralize(@brewery.ratings.count, "rating") %></dd>
  <dt>
    Average rating:
  </dt>
  <dd>
    <% if @brewery.ratings.empty? %>
      Brewery has not yet been rated!
    <% else %>
      Brewery's average rating is <%= @brewery.average_rating %>
    <% end %>
  </dd>
</dl>

Brewery has total of <%= pluralize(@brewery.beers.count, "beers") %>:

<ul>
<% @brewery.beers.each do |beer| %>
  <li><%= link_to beer.name, beer %></li>
<% end %>
</ul>

<div>
  <%= link_to "Edit this brewery", edit_brewery_path(@brewery) %> |
  <%= link_to "Back to breweries", breweries_path %>

  <%= button_to "Destroy this brewery", @brewery, method: :delete %>
</div>
